.footer {
    background-color: #333; /* Цвет фона футера */
    color: #fff; /* Цвет текста в футере */
    padding: 10px; /* Внутренний отступ футера */
    /* position: fixed;  */
    /* Зафиксированное позиционирование */
    bottom: 0; /* Футер будет расположен внизу страницы */
    width: 100%; /* Ширина футера будет 100% экрана */
  }
  
  .footer ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
  }
  
  .footer li {
    display: inline; /* Элементы списка располагаются в строку */
    margin-right: 20px; /* Отступ между элементами списка */
  }
  
  .footer a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #fff; /* Цвет ссылок */
  }
  